.App {
  text-align: center;
}

.AppHeader {
  background-color: skyblue;
  color: black;
  height: 30%;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding: 5%;
  align-items: center;
}

.AppHeaderButton {
  margin: 2%;
}

.AppHeaderFilter {
  margin: 2%;
}
